# Quarto
/.quarto/
*_cache/
_freeze/

# RStudio
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
**/*.quarto_ipynb

# OS files
.DS_Store
Thumbs.db

# API Key
.env

# _files repetido
03-coffee-ratings/parte3-coffee-ratings_files